<!--投稿後だと成功メッセージ表示＋詳細画面-->
<!--noticeで一度のみ表示のものをコントローラで設定。viewでは呼び出し-->
<body>
    <p id="notice"><%= notice %></p>

<!--詳細画面の表示-->
    <div class="show-title">
      <p><strong>Title:</strong>
      <%= @book.title %></p>
    </div>
    <div class="show-body">
      <p><strong>Body:</strong>
      <%= @book.body %></p>
    </div>

    <div class="link">
      <p><%= link_to 'Edit', edit_book_path(@book.id) %></p>
      <p> | </p>
      <p><%= link_to 'Back', books_path %></p>
    </div>
</body>